


<div class="card">
  <div class="card-header">
    <div class="clr-row">
      <div class="clr-col">
        Specimens
    </div>
    <div class="clr-col" style="text-align:right">
      <button class="btn btn-success" (click)="frmSpecimen()">NEW</button>
  </div>
    </div>
    
</div>
    <div class="card-block">



      <clr-datagrid>
        <clr-dg-column [clrDgField]="'images'">Images</clr-dg-column>
        <clr-dg-column [clrDgField]="'Code'">Code</clr-dg-column>
        <clr-dg-column [clrDgField]="'Specimen_Name'">Specimen Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'Enabled'">Enabled</clr-dg-column>
        <clr-dg-column [clrDgField]="'LabGroup'">Lab Group</clr-dg-column>
        <clr-dg-column>MENU</clr-dg-column>
  
        <clr-dg-row *clrDgItems="let specimen of itemSpecimen">
          <clr-dg-cell>{{specimen.Image}}</clr-dg-cell>
          <clr-dg-cell>{{specimen.Code}}</clr-dg-cell>
          <clr-dg-cell>{{specimen.Specimen_Name}}</clr-dg-cell>
          <clr-dg-cell>{{specimen.Enabled}}</clr-dg-cell>
          <clr-dg-cell>{{specimen.LabGroup}}</clr-dg-cell>
          <clr-dg-cell>
             <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="formUpdate(specimen)">
            <clr-icon shape="pencil"></clr-icon> EDIT
          </button>
        </clr-dg-cell>
        </clr-dg-row>
  
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Hospitals per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Rows
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>

        	 	 				

        


    </div>
</div>

<clr-modal [(clrModalOpen)]="openModal">
  <h3 class="modal-title">specimen</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-horizontal">

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Image</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="file" placeholder="Hospital code" [(ngModel)]="txtimage" name="txtimage" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">specimen code</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Hospital code" [(ngModel)]="txtcode" name="txtcode" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Specimen Name</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Specimen Name" [(ngModel)]="txtspecimenname" name="txtspecimenname" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Lab Group</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Lab Group" [(ngModel)]="txtlabgroup" name="txtlabgroup" class="clr-input" />
          </div>
        </div>
      </div>

     
        <br>

        <div class="clr-row">
          <div class="clr-col-sm-12 clr-col-md-4">
            
          </div>
          <div class="clr-col-sm-12 clr-col-md-8">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="txtenabled" required value="YES" [(ngModel)]="txtenabled" />
              <label>Enabled</label>
            </clr-checkbox-wrapper>
          </div>
        </div>

      

      

    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="updatespecimen()">Ok</button>
  </div>
</clr-modal>

