


<div class="card">
  <div class="card-header">
    <div class="clr-row">
      <div class="clr-col">
        Comment
    </div>
    <div class="clr-col" style="text-align:right">
      <button class="btn btn-success" (click)="frmComment()">NEW</button>
  </div>
    </div>
    
</div>
    <div class="card-block">



        <clr-datagrid>
          <clr-dg-column [clrDgField]="'comment_id'">comment id</clr-dg-column>
          <clr-dg-column [clrDgField]="'comment_name'">comment name</clr-dg-column>
          <clr-dg-column [clrDgField]="'Enabled'">Enabled</clr-dg-column>
          <clr-dg-column>MENU</clr-dg-column>
    
          <clr-dg-row *clrDgItems="let comment of itemComment">
            <clr-dg-cell>{{comment.comment_id}}</clr-dg-cell>
            <clr-dg-cell>{{comment.comment_name}}</clr-dg-cell>
            <clr-dg-cell>{{comment.Enabled}}</clr-dg-cell>
            <clr-dg-cell>
               <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="formUpdate(comment)">
              <clr-icon shape="pencil"></clr-icon> EDIT
            </button>
          </clr-dg-cell>
          </clr-dg-row>
    
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
              <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">comment per page</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Rows
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>






    </div>
</div>

<clr-modal [(clrModalOpen)]="openModal">
  <h3 class="modal-title">comment</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-horizontal">

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">comment id</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="id" [(ngModel)]="txtcomment_id" name="txtcomment_id" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">comment Name</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Name" [(ngModel)]="txtcomment_name" name="txtcomment_name" class="clr-input" />
          </div>
        </div>
      </div>

     
        <br>

        <div class="clr-row">
          <div class="clr-col-sm-12 clr-col-md-4">
            
          </div>
          <div class="clr-col-sm-12 clr-col-md-8">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="txtEnabled" required value="YES" [(ngModel)]="txtEnabled" />
              <label>Enabled</label>
            </clr-checkbox-wrapper>
          </div>
        </div>

      

      

    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="updatecomment()">Ok</button>
  </div>
</clr-modal>

