


<div class="card">
  <div class="card-header">
    <div class="clr-row">
      <div class="clr-col">
        Labs
    </div>
    <div class="clr-col" style="text-align:right">
      <button class="btn btn-success" (click)="frmLab()">NEW</button>
  </div>
    </div>
    
</div>
    <div class="card-block">



      <clr-datagrid>
        <clr-dg-column [clrDgField]="'LC_Code'">LC_Code</clr-dg-column>
        <clr-dg-column [clrDgField]="'Code'">Code</clr-dg-column>
        <clr-dg-column [clrDgField]="'Lab_Name'">Lab Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'Group'">Group</clr-dg-column>
        <clr-dg-column [clrDgField]="'specimen'">Specimen</clr-dg-column>
        <clr-dg-column [clrDgField]="'Price_gov'">Price(รัฐบาล)</clr-dg-column>
        <clr-dg-column [clrDgField]="'price'">Price(เอกชน)</clr-dg-column>
        <clr-dg-column [clrDgField]="'Order'">Order</clr-dg-column>
        <clr-dg-column [clrDgField]="'Keyanual'">Key Manual</clr-dg-column>
        <clr-dg-column [clrDgField]="'Enabled'">Enabled</clr-dg-column>
        <clr-dg-column [clrDgField]="'Profile'">Profile</clr-dg-column>

        <clr-dg-column>Menu</clr-dg-column>
  
        <clr-dg-row *clrDgItems="let lab of itemLab">
          <clr-dg-cell>{{lab.LC_Code}}</clr-dg-cell>
          <clr-dg-cell>{{lab.Code}}</clr-dg-cell>
          <clr-dg-cell>{{lab.lab_Name}}</clr-dg-cell>
          <clr-dg-cell>{{lab.LabGroup}}</clr-dg-cell>
          <clr-dg-cell>{{lab.Specimen}}</clr-dg-cell>
          <clr-dg-cell>{{lab.Price_gov}}</clr-dg-cell>
          <clr-dg-cell>{{lab.price}}</clr-dg-cell>
          <clr-dg-cell>{{lab.Order}}</clr-dg-cell>
          <clr-dg-cell>{{lab.Keyanual}}</clr-dg-cell>
          <clr-dg-cell>{{lab.Enabled}}</clr-dg-cell>
          <clr-dg-cell>{{lab.Profile}}</clr-dg-cell>
          <clr-dg-cell>
             <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="formUpdate(lab)">
            <clr-icon shape="pencil"></clr-icon> EDIT
          </button>
        </clr-dg-cell>
        </clr-dg-row>
  
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Hospitals per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Rows
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>

        	 	 				

        


    </div>
</div>

<clr-modal [(clrModalOpen)]="openModal">
  <h3 class="modal-title">Labs</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-horizontal">

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">LC code</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Hospital code" [(ngModel)]="txtlccode" name="txtlccode" class="clr-input" />
          </div>
        </div>
      </div>


      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">lab code</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Lab code" [(ngModel)]="txtcode" name="txtcode" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Lab Name</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Lab Name" [(ngModel)]="txtlabname" name="txtlabname" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Lab Group</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Lab Group" [(ngModel)]="txtlabgroup" name="txtlabgroup" class="clr-input" />
          </div>
        </div>
      </div>


      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Specimen</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Specimen" [(ngModel)]="txtspecimen" name="txtspecimen" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Price_gov</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Price_gov" [(ngModel)]="txtprice_gov" name="txtprice_gov" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Price</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Price" [(ngModel)]="txtprice" name="txtprice" class="clr-input" />
          </div>
        </div>
      </div>


      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">LabOrder</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="LabOrder" [(ngModel)]="txtlaborder" name="txtlaborder" class="clr-input" />
          </div>
        </div>
      </div>


      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Key_Manual</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Key_Manual" [(ngModel)]="txtkey_manual" name="txtkey_manual" class="clr-input" />
          </div>
        </div>
      </div>


      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Profile</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Profile" [(ngModel)]="txtprofile" name="txtprofile" class="clr-input" />
          </div>
        </div>
      </div>

     
        <br>

        <div class="clr-row">
          <div class="clr-col-sm-12 clr-col-md-4">
            
          </div>
          <div class="clr-col-sm-12 clr-col-md-8">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="txtenabled" required value="YES" [(ngModel)]="txtenabled" />
              <label>Enabled</label>
            </clr-checkbox-wrapper>
          </div>
        </div>

      

      

    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="updatelab()">Ok</button>
  </div>
</clr-modal>

