<div class="clr-row">
    <div class="clr-col-12">
      <div class="card">
        <div class="card-header">
            Holidays
        </div>
        <div class="card-block">
            <div class="card-text">


                


                <div class="clr-row">

                    
                    <div class="clr-col">
                      <div class="clr-form-control">
                        <label for="example5" class="clr-control-label">Order Date</label>
                        <div class="clr-control-container">
                          <div class="clr-input-wrapper">
                            <input type="date" id="example5" placeholder="เลือกไฟล์ Excel ที่ต้องการ Import" class="clr-input" />
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="clr-col">
                        <button class="btn btn-primary">export</button>
                    </div>
                  </div>


                  


            </div>
        </div>
    </div>
</div>
</div>


<div class="card">
    <div class="card-block">

        					 				

        <table class="table">
            <thead>
              <tr>
                <th>#Id</th>
                <th>วันหยุด</th>
                <th>วันที่</th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>#Id</th>
                <th>วันหยุด</th>
                <th>วันที่</th>
              </tr>
            </tbody>
        </table>


    </div>
</div>

