<div class="clr-row">
    <div class="clr-col-12">
      <div class="card">
        <div class="card-header">
            Orders Entry
        </div>
        <div class="card-block">
          <div class="card-title">

<form class="clr-form clr-form-vertical">


    <div class="clr-row">
        <div class="clr-col-4">
          <span>
            <div class="clr-form-control">
                <label for="example5" class="clr-control-label">Order Date</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input type="date" id="example5" placeholder="Order Date" class="clr-input" />
                  </div>
                </div>
              </div>
          </span>
        </div>
        <div class="clr-col-4">
          <span>
            <div class="clr-form-control">
                <label for="example5" class="clr-control-label">LN</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example5" placeholder="LN" class="clr-input" />
                  </div>
                </div>
              </div>
          </span>
        </div>
        <div class="clr-col-4">
          <span>
            <div class="clr-form-control">
                <label for="example5" class="clr-control-label">โรงพยาบาล</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <select placeholder="Select Option"  [(ngModel)]="hcode" name="hcode">
                      <!-- <option value=""">กรุณาเลือก</option> -->
                        <option *ngFor="let hos of itemHoscode" [value]="hos.hcode">{{hos.hos_name}}</option>
       
                      </select>
                  </div>
                </div>
              </div>
          </span>
        </div>
      </div>


      <div class="clr-row">
        <div class="clr-col-4">
          <div class="clr-form-control">
            <label for="example1" class="clr-control-label">HN</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input type="text" id="txthn" name="txthn" placeholder="Placeholder" class="clr-input" [(ngModel)]="txthn" /><clr-icon shape="search" (click)="ListPatient()"></clr-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-col-4">
          <span>
            <div class="clr-form-control">
                <label for="example5" class="clr-control-label">ชื่อ-สกุล คนไข้</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example5" placeholder="ชื่อ-สกุล คนไข้" name="fullname" [(ngModel)]="fullname" class="clr-input" />
                  </div>
                </div>
              </div>
          </span>
        </div>
        <div class="clr-col-4">
          <span>
            <div class="clr-form-control">
                <label for="example5" class="clr-control-label">อายุ</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example5" placeholder="อายุ" name="txtage" [(ngModel)]="txtage" class="clr-input" />
                  </div>
                </div>
              </div>
          </span>
        </div>
      </div>

      <div class="clr-row">
        <div class="clr-col-4">
          <span>
            <div class="clr-form-control">
                <label for="example5" class="clr-control-label">สิทธิ์การรักษา</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <select placeholder="Select Option" [(ngModel)]="sit_id" name="sit_id">
                      <option *ngFor="let sit of itemLabSit" [value]="sit.id">{{sit.SIT}}</option>
                      </select>
                  </div>
                </div>
              </div>
          </span>
        </div>
        <div class="clr-col-4">
          <span>
            <div class="clr-form-control">
                <label for="example5" class="clr-control-label">Comment</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <select [(ngModel)]="comment_id" name="comment_id">
                      <option *ngFor="let comment of itemComment" [value]="comment.comment_id">{{comment.comment_name}}</option>
                      </select>
                  </div>
                </div>
              </div>
          </span>
        </div>
        <div class="clr-col-4">
          <span>
            <div class="clr-form-control">
                <label for="example5" class="clr-control-label">Remark</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example5" placeholder="Remark" class="clr-input" />
                  </div>
                </div>
              </div>
          </span>
        </div>
      </div>


      <div class="card">
        
        <div class="card-block">
            <div class="card-text">

            
        
                
                
                
                
                
                


      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Chemistry</button>
          <clr-tab-content *clrIfActive="true">
            
            <br>        <br>   
            
            <div class="clr-row">
              <div class="clr-col-4"  *ngFor="let che of itemLabCHE">
                <clr-checkbox-wrapper *ngIf="che.Lab_Name">
                  <input type="checkbox" clrCheckbox name="che[che.Code]" [(ngModel)]="che[che.Code]" required [value]="che.Code" [checked]="che.Code" (change)="che.Code" />
                  <label>{{che.Lab_Name}}</label>
                </clr-checkbox-wrapper>
              </div>
              
            </div>

          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Immunology</button>
          <clr-tab-content>
            <br>        <br>   
            
            <div class="clr-row">
              <div class="clr-col-4"  *ngFor="let imm of itemLabIMM">
                <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox name="imm[checklab]" [(ngModel)]="imm[checklab]" required [value]="checklab" [checked]="checklab" (change)="onChanged(imm)" />
                  <label>{{imm.Lab_Name}}</label>
                </clr-checkbox-wrapper>
              </div>
              
            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Microbiology</button>
          <clr-tab-content>
            <br>        <br>   
            
            <div class="clr-row">
              <div class="clr-col-4"  *ngFor="let mic of itemLabMIC">
                <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox name="mic[checklab]" [(ngModel)]="mic[checklab]" required [value]="checklab" [checked]="checklab" (change)="onChanged(mic)" />
                  <label>{{mic.Lab_Name}}</label>
                </clr-checkbox-wrapper>
              </div>
              
            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
            <button clrTabLink>Bio-Molecular Lab</button>
            <clr-tab-content>
              <br>        <br>   
            
            <div class="clr-row">
              <div class="clr-col-4"  *ngFor="let bio of itemLabBIO">
                <clr-checkbox-wrapper>
                  
                  <input type="checkbox" clrCheckbox name="bio[checklab]" [(ngModel)]="bio[checklab]" required [value]="checklab" [checked]="checklab" (change)="onChanged(bio)" />
                  <label>{{bio.Lab_Name}}</label>
                </clr-checkbox-wrapper>
              </div>
              
            </div>
            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink>Microscopic</button>
            <clr-tab-content>
              <br>        <br>   
            
            <div class="clr-row">
              <div class="clr-col-4"  *ngFor="let mis of itemLabMIS">
                <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox name="mis[checklab]" [(ngModel)]="mis[checklab]" required [value]="checklab" [checked]="checklab" (change)="onChanged(mis)" />
                  <!-- <input type="checkbox" clrCheckbox name="mis" required [value]="mis.Code" /> -->
                  <label>{{mis.Lab_Name}}</label>
                </clr-checkbox-wrapper>
              </div>
              
            </div>
            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink>Hematology</button>
            <clr-tab-content>
              <br>        <br>   
            
            <div class="clr-row">
              <div class="clr-col-4"  *ngFor="let hem of itemLabHEM">
                <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox name="hem[checklab]" [(ngModel)]="hem[checklab]" required [value]="checklab" [checked]="checklab" (change)="onChanged(hem)" />
                  <!-- <input type="checkbox" clrCheckbox name="hem" required [value]="hem.Code" /> -->
                  <label>{{hem.Lab_Name}}</label>
                </clr-checkbox-wrapper>
              </div>
              
            </div>
            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink>Out Lab</button>
            <clr-tab-content>
              <br>        <br>   
            
            <div class="clr-row">
              <div class="clr-col-4"  *ngFor="let out of itemLabOUT">
                <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox name="out[checklab]" [(ngModel)]="out[checklab]" required [value]="checklab" [checked]="checklab" (change)="onChanged(out)" />
                  <!-- <input type="checkbox" clrCheckbox name="out" required [value]="out.Code" /> -->
                  <label>{{out.Lab_Name}}</label>
                </clr-checkbox-wrapper>
              </div>
              
            </div>
            </clr-tab-content>
          </clr-tab>
      </clr-tabs>



    </div>


    
    <div class="clr-row">
      <div class="clr-col-sm-12 clr-col-md-6">
        
      </div>
      <div class="clr-col-sm-12 clr-col-md-6" style="text-align: right;">
        <button class="btn btn-success" (click)="savelab()" *ngIf="patient_id">Save</button>
      </div>
      </div>



</div>
</div>








    
    
  </form> 


</div>

</div>
</div>
</div>