


<div class="card">
  <div class="card-header">
    <div class="clr-row">
      <div class="clr-col">
        Hospital
    </div>
    <div class="clr-col" style="text-align:right">
      <button class="btn btn-success" (click)="frmHospital()">NEW</button>
  </div>
    </div>
    
</div>
    <div class="card-block">



      <clr-datagrid>
        <clr-dg-column [clrDgField]="'HIS_HN'">Code</clr-dg-column>
        <clr-dg-column [clrDgField]="'sex'">Hospital Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'name'">Enabled</clr-dg-column>
        <clr-dg-column>MENU</clr-dg-column>
  
        <clr-dg-row *clrDgItems="let hospital of itemHospital">
          <clr-dg-cell>{{hospital.hcode}}</clr-dg-cell>
          <clr-dg-cell>{{hospital.hos_name}}</clr-dg-cell>
          <clr-dg-cell>{{hospital.Enabled}}</clr-dg-cell>
          <clr-dg-cell>
             <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="formUpdate(hospital)">
            <clr-icon shape="pencil"></clr-icon> EDIT
          </button>
        </clr-dg-cell>
        </clr-dg-row>
  
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Hospitals per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Rows
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>

        	 	 				

        


    </div>
</div>

<clr-modal [(clrModalOpen)]="openModal">
  <h3 class="modal-title">Hospital</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-horizontal">

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Hospital code</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Hospital code" [(ngModel)]="txthospcode" name="txthospcode" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Hospital Name</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Hospital Name" [(ngModel)]="txthospname" name="txthospname" class="clr-input" />
          </div>
        </div>
      </div>

     
        <br>

        <div class="clr-row">
          <div class="clr-col-sm-12 clr-col-md-4">
            
          </div>
          <div class="clr-col-sm-12 clr-col-md-8">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="txtenabled" required value="YES" [(ngModel)]="txtenabled" />
              <label>Enabled</label>
            </clr-checkbox-wrapper>
          </div>
        </div>

      

      

    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="updatehospital()">Ok</button>
  </div>
</clr-modal>

