<div class="clr-row">
  <div class="clr-col-12">
    <div class="card">
      <div class="card-header">
        Result Manual
      </div>
      <div class="card-block">
          <div class="card-text">


              


              <div class="clr-row">
                  <div class="clr-col">
                    <div class="clr-form-control">
                      <label for="example5" class="clr-control-label">Hospital</label>
                      <div class="clr-control-container">
                        <div class="clr-input-wrapper">
                          <select placeholder="Select Option"  [(ngModel)]="hos_id" name="hos_id">
                            <!-- <option value=""">กรุณาเลือก</option> -->
                              <option *ngFor="let hos of itemHoscode" [value]="hos.hcode">{{hos.hos_name}}</option>
             
                            </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clr-col">
                    <div class="clr-form-control">
                      <label for="example5" class="clr-control-label">Order Date</label>
                      <div class="clr-control-container">
                        <div class="clr-input-wrapper">
                          <input type="date"  placeholder="Placeholder" class="clr-input" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clr-col">
                    <div class="clr-form-control">
                      <label for="example5" class="clr-control-label">Group</label>
                      <div class="clr-control-container">
                        <div class="clr-input-wrapper">
                          <select placeholder="Select Option"  [(ngModel)]="id_group_lab" name="id_group_lab">
                            <!-- <option value=""">กรุณาเลือก</option> -->
                              <option *ngFor="let groups of itemLabGroup" [value]="groups.id_group_lab">{{groups.Group_Name}}</option>
             
                            </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clr-col">
                    <div class="clr-form-control">
                      <label for="example5" class="clr-control-label">LN / HN / Patient Name</label>
                      <div class="clr-control-container">
                        <div class="clr-input-wrapper">
                          <input type="text"  [(ngModel)]="txtsearch" placeholder="LN / HN / Patient Name" class="clr-input" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clr-col clr-align-self-end">
                      <button class="btn btn-primary" (click)="labresult()">Search</button>
                      <button class="btn  btn-success">Print</button>
                      <button class="btn  btn-info">Export</button>
                  </div>
                </div>


                <div class="card">
                  <div class="card-block">
                <div class="clr-row">
                  <div class="clr-col">
                      <a href="javascript://" class="label label-blue clickable">TOTAL<span class="badge">50</span></a>
                  </div>
                  <div class="clr-col">
                      <a href="javascript://" class="label label-info clickable">ORDER<span class="badge">50</span></a>
                    
                  </div>
                  <div class="clr-col">
                    
                    <a href="javascript://" class="label label-warning clickable">PROCESS<span class="badge">0</span></a>
                  </div>
                  <div class="clr-col">
                    
                    <a href="javascript://" class="label label-success clickable">COMPLETE<span class="badge">0</span></a>
                  </div>
                  <div class="clr-col">
                    
                    <a href="javascript://" class="label label-danger clickable">CANCEL<span class="badge">0</span></a>
                  </div>
                </div>
              </div>
              </div>


          </div>
      </div>
  </div>
</div>
</div>


<div class="card">
  <div class="card-block">

                        

      <table class="table">
          <thead>
            <tr>
              <th>ORDER DATE</th>
              <th>HOSPITAL</th>
              <th>LN</th>
              <th>HN</th>
              <th>PATIENT NAME</th>
              <th>GENDER</th>
              <th>GROUP</th>
              <th>STATUS</th>
              <th>PROGRESS</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let results of itemResult">
              <th>{{results.OrderDate}}</th>
              <th>{{results.HospitalName}}</th>
              <th>{{results.LabLN}}</th>
              <th>{{results.HN}}</th>
              <th>{{results.PatientName}}</th>
              <th>{{results.Sex}}</th>
              <th>{{results.Unit}}</th>
              <th>
                <span *ngIf="!results.ReportBy">ORDER</span>
                <span *ngIf="results.ReportBy">SUCCESS</span>
              </th>
              <th>
                <span *ngIf="!results.Result">Wait</span>
                <span *ngIf="results.Result">OK</span>
              </th>
            </tr>
          </tbody>
      </table>


  </div>
</div>

