<div class="clr-row">
    <div class="clr-col-12">
      <div class="card">
        <div class="card-header">
          Check Result
        </div>
        <div class="card-block">
            <div class="card-text">


                


                <div class="clr-row">
                    <div class="clr-col">
                      <div class="clr-form-control">
                        <label for="example5" class="clr-control-label">Hospital</label>
                        <div class="clr-control-container">
                          <div class="clr-input-wrapper">
                            <select placeholder="Select Option"  [(ngModel)]="hos_id" name="hos_id">
                              <!-- <option value=""">กรุณาเลือก</option> -->
                                <option *ngFor="let hos of itemHoscode" [value]="hos.hcode">{{hos.hos_name}}</option>
               
                              </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clr-col">
                      <div class="clr-form-control">
                        <label for="example5" class="clr-control-label">Order Date</label>
                        <div class="clr-control-container">
                          <div class="clr-input-wrapper">
                            <input type="date"  placeholder="Placeholder" class="clr-input" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clr-col">
                      <div class="clr-form-control">
                        <label for="example5" class="clr-control-label">Group</label>
                        <div class="clr-control-container">
                          <div class="clr-input-wrapper">
                            <select placeholder="Select Option"  [(ngModel)]="id_group_lab" name="id_group_lab">
                              <!-- <option value=""">กรุณาเลือก</option> -->
                                <option *ngFor="let groups of itemLabGroup" [value]="groups.id_group_lab">{{groups.Group_Name}}</option>
               
                              </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clr-col">
                      <div class="clr-form-control">
                        <label for="example5" class="clr-control-label">LN / HN / Patient Name</label>
                        <div class="clr-control-container">
                          <div class="clr-input-wrapper">
                            <input type="text"  [(ngModel)]="txtsearch" placeholder="LN / HN / Patient Name" class="clr-input" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clr-col clr-align-self-end">
                        <button class="btn btn-primary" (click)="labresult()">Search</button>
                        <button class="btn  btn-success">Print</button>
                        <button class="btn  btn-info">Export</button>
                    </div>
                  </div>


                  <div class="card">
                    <div class="card-block">
                  <div class="clr-row">
                    <div class="clr-col">
                        <a href="javascript://" class="label label-blue clickable">TOTAL<span class="badge">50</span></a>
                    </div>
                    <div class="clr-col">
                        <a href="javascript://" class="label label-info clickable">ORDER<span class="badge">50</span></a>
                      
                    </div>
                    <div class="clr-col">
                      
                      <a href="javascript://" class="label label-warning clickable">PROCESS<span class="badge">0</span></a>
                    </div>
                    <div class="clr-col">
                      
                      <a href="javascript://" class="label label-success clickable">COMPLETE<span class="badge">0</span></a>
                    </div>
                    <div class="clr-col">
                      
                      <a href="javascript://" class="label label-danger clickable">CANCEL<span class="badge">0</span></a>
                    </div>
                  </div>
                </div>
                </div>


            </div>
        </div>
    </div>
</div>
</div>


<div class="card">
    <div class="card-block">

         				 				

        <clr-datagrid>
          <clr-dg-column>ORDER DATE</clr-dg-column>
                <clr-dg-column>HOSPITAL</clr-dg-column>
                <clr-dg-column>LN</clr-dg-column>
                <clr-dg-column>HN</clr-dg-column>
                <clr-dg-column>PATIENT NAME</clr-dg-column>
                <clr-dg-column>GENDER</clr-dg-column>
                <clr-dg-column>GROUP</clr-dg-column>
                <clr-dg-column>STATUS</clr-dg-column>
                <clr-dg-column>PROGRESS</clr-dg-column>
                <clr-dg-column>SAMPLE</clr-dg-column>
                <clr-dg-column>RESULT</clr-dg-column>
        
          <clr-dg-row *ngFor="let results of itemResult">
            <clr-dg-cell>{{results.OrderDate}}</clr-dg-cell>
              <clr-dg-cell>{{results.HospitalName}}</clr-dg-cell>
              <clr-dg-cell>{{results.LabLN}}</clr-dg-cell>
              <clr-dg-cell>{{results.HN}}</clr-dg-cell>
              <clr-dg-cell>{{results.PatientName}}</clr-dg-cell>
              <clr-dg-cell>{{results.Sex}}</clr-dg-cell>
              <clr-dg-cell>{{results.Unit}}</clr-dg-cell>
              <clr-dg-cell>
                <span *ngIf="!results.ReportBy">ORDER</span>
                <span *ngIf="results.ReportBy">Complete</span>
              </clr-dg-cell>
              <clr-dg-cell>
                <span *ngIf="!results.Result">Wait</span>
                <span *ngIf="results.Result">OK</span>
              </clr-dg-cell>
              <clr-dg-cell><button (click)="opensample(results)" class="btn btn-info">SAMPLE</button></clr-dg-cell>
              <clr-dg-cell><a clrVerticalNavLink  routerLink="/home/patient" class="btn btn-success">RESULT</a></clr-dg-cell>
          </clr-dg-row>
        
          <clr-dg-footer>{{itemResult.length}} results</clr-dg-footer>
        </clr-datagrid>


    </div>
</div>

