


<div class="card">
  <div class="card-header">
    <div class="clr-row">
      <div class="clr-col">
        Groups
    </div>
    <div class="clr-col" style="text-align:right">
      <button class="btn btn-success" (click)="frmGroups()">NEW</button>
  </div>
    </div>
    
</div>
    <div class="card-block">



        <clr-datagrid>
          <clr-dg-column [clrDgField]="'code'">Code</clr-dg-column>
          <clr-dg-column [clrDgField]="'group_name'">Group name</clr-dg-column>
          <clr-dg-column [clrDgField]="'seq'">Seq</clr-dg-column>
          <clr-dg-column [clrDgField]="'Enabled'">Enabled</clr-dg-column>
          <clr-dg-column>MENU</clr-dg-column>
    
          <clr-dg-row *clrDgItems="let groups of itemGroup">
            <clr-dg-cell>{{groups.Code}}</clr-dg-cell>
            <clr-dg-cell>{{groups.Group_Name}}</clr-dg-cell>
            <clr-dg-cell>{{groups.Seq}}</clr-dg-cell>
            <clr-dg-cell>{{groups.Enabled}}</clr-dg-cell>
            <clr-dg-cell>
               <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="formUpdate(groups)">
              <clr-icon shape="pencil"></clr-icon> EDIT
            </button>
          </clr-dg-cell>
          </clr-dg-row>
    
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
              <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">group per page</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Rows
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>






    </div>
</div>

<clr-modal [(clrModalOpen)]="openModal">
  <h3 class="modal-title">Groups</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-horizontal">

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Code</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Code" [(ngModel)]="txtCode" name="txtCode" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Group Name</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Name" [(ngModel)]="txtGroup_Name" name="txtGroup_Name" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Seq</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Name" [(ngModel)]="txtSeq" name="txtSeq" class="clr-input" />
          </div>
        </div>
      </div>

     
        <br>

        <div class="clr-row">
          <div class="clr-col-sm-12 clr-col-md-4">
            
          </div>
          <div class="clr-col-sm-12 clr-col-md-8">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="txtEnabled" required value="YES" [(ngModel)]="txtEnabled" />
              <label>Enabled</label>
            </clr-checkbox-wrapper>
          </div>
        </div>

      

      

    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="updategroups()">Ok</button>
  </div>
</clr-modal>

