<div class="clr-row">
    <div class="clr-col-12">
      <div class="card">
        <div class="card-header">
          Import Order Covid-19
        </div>
        <div class="card-block">
            <div class="card-text">


                


                <div class="clr-row">
                    <div class="clr-col">
                      <div class="clr-form-control">
                        <label for="example5" class="clr-control-label">Specimen Type</label>
                        <div class="clr-control-container">
                          <div class="clr-input-wrapper">
                            <input type="text" id="example5" placeholder="Specimen Type" class="clr-input" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clr-col">
                      <div class="clr-form-control">
                        <label for="example5" class="clr-control-label">Hospital</label>
                        <div class="clr-control-container">
                          <div class="clr-input-wrapper">
                            <input type="text" id="example5" placeholder="Hospital" class="clr-input" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clr-col">
                      <div class="clr-form-control">
                        <label for="example5" class="clr-control-label">เลือกไฟล์ Excel ที่ต้องการ Import</label>
                        <div class="clr-control-container">
                          <div class="clr-input-wrapper">
                            <input type="text" id="example5" placeholder="เลือกไฟล์ Excel ที่ต้องการ Import" class="clr-input" />
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="clr-col">
                        <button class="btn btn-primary">import</button>
                        <button class="btn btn-success">save</button>
                    </div>
                  </div>


                  


            </div>
        </div>
    </div>
</div>
</div>


<div class="card">
    <div class="card-block">


        																 

         				 				

        <table class="table">
            <thead>
              <tr>
                <th>IsValid</th>
                <th>No.</th>
                <th>เลขบัตรประชาชน</th>
                <th>คำนำหน้า</th>
                <th>ชื่อ</th>
                <th>สกุล</th>
                <th>HN.</th>
                <th>สิทธิ์การรักษา</th>
                <th>วัน/เดือน/ปีเกิด</th>
                <th>อายุ</th>
                <th>ตำบล</th>
                <th>อำเเภอ</th>
                <th>จังหวัด</th>
                <th>วันที่เก็บตัวอย่าง</th>
                <th>หน่วยงานที่ตรวจ</th>
                <th>เบอร์ติดต่อ</th>
                <th>Check</th>
                <th>Message</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>IsValid</th>
                <th>No.</th>
                <th>เลขบัตรประชาชน</th>
                <th>คำนำหน้า</th>
                <th>ชื่อ</th>
                <th>สกุล</th>
                <th>HN.</th>
                <th>สิทธิ์การรักษา</th>
                <th>วัน/เดือน/ปีเกิด</th>
                <th>อายุ</th>
                <th>ตำบล</th>
                <th>อำเเภอ</th>
                <th>จังหวัด</th>
                <th>วันที่เก็บตัวอย่าง</th>
                <th>หน่วยงานที่ตรวจ</th>
                <th>เบอร์ติดต่อ</th>
                <th>Check</th>
                <th>Message</th>
              </tr>
            </tbody>
        </table>


    </div>
</div>

