<div class="clr-row">
    <div class="clr-col-12">
      <div class="card">
        <div class="card-header">
            Patient's orders
        </div>
        <div class="card-block">
          <div class="card-title">
           

            <div class="clr-row">
                <div class="clr-col-sm-6">
                    <span>hn : {{resultinfo.HN}}</span><br>
                    <span>Patient : {{resultinfo.PatientName}}</span> <br>
                    <span>Gender : {{resultinfo.Sex}} </span><br>
                    <span>Age : {{resultinfo.Age}}</span><br>
                    <span>LN : {{resultinfo.LabLN}}</span><br>
                    <span>Comment :{{resultinfo.Comment}}</span><br>
                    
                </div>
                <div class="clr-col-sm-6">
                    <span>Hospital : {{resultinfo.HospitalName}}</span><br>
                    <span>Order Date : {{resultinfo.OrderDate|date:"YYYY-MM-dd HH:mm"}}</span><br>
                    <span>CreatedBy : {{resultinfo.AuthoriseBy}}</span><br>
                    <!-- <span>สิทธิ์การรักษา :{{resultinfo.AuthoriseBy}}</span><br> -->
                </div>
              </div>


          </div>
          
        </div>
        
      </div>
    </div>
  </div>


  						

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Lab Code</th>
        <th>Lab NAME</th>
        <th>CHECK IN</th>
        <th>REJECT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let req of itemReq" [ngStyle]="{'background-color': req.authUser? '#C5DCA8' : '#F4C99F'}">
        <td >{{req.num_req}}</td>
        <td>{{req.lab_code}}</td>
        <td>{{req.lab_name}}</td>
        <td><button class="btn btn-success btn-sm" (click)="savelab(req)"><clr-icon shape="check"></clr-icon></button><br>{{req.authUser}}</td>
        <td><button class="btn btn-danger btn-sm"><clr-icon shape="times"></clr-icon></button></td>
      </tr>
      
    </tbody>
  </table>
