


<div class="card">
  <div class="card-header">
    <div class="clr-row">
      <div class="clr-col">
        User Accounts
    </div>
    <div class="clr-col" style="text-align:right">
      <button class="btn btn-success" (click)="frmUseraccount()">NEW</button>
  </div>
    </div>
    
</div>
    <div class="card-block">



        <clr-datagrid>
          <clr-dg-column [clrDgField]="'UserCode'">UserCode</clr-dg-column>
          <clr-dg-column [clrDgField]="'FirstName'">FirstName</clr-dg-column>
          <clr-dg-column [clrDgField]="'LastName'">LastName</clr-dg-column>
          <clr-dg-column [clrDgField]="'HospCode'">Hospital Code</clr-dg-column>
          <clr-dg-column [clrDgField]="'Cid'">ID Card</clr-dg-column>
          <clr-dg-column>MENU</clr-dg-column>
    
          <clr-dg-row *clrDgItems="let useraccount of itemUseraccount">
            <clr-dg-cell>{{useraccount.UserCode}}</clr-dg-cell>
            <clr-dg-cell>{{useraccount.FirstName}}</clr-dg-cell>
            <clr-dg-cell>{{useraccount.LastName}}</clr-dg-cell>
            <clr-dg-cell>{{useraccount.HosCode}}</clr-dg-cell>
            <clr-dg-cell>{{useraccount.Cid}}</clr-dg-cell>
            <clr-dg-cell>
               <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="formUpdate(useraccount)">
              <clr-icon shape="pencil"></clr-icon> EDIT
            </button>
          </clr-dg-cell>
          </clr-dg-row>
    
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
              <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">comment per page</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Rows
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>






    </div>
</div>

<clr-modal [(clrModalOpen)]="openModal">
  <h3 class="modal-title">User Account</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-horizontal">

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">UserCode</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="UserCode" [(ngModel)]="txtusercode" name="txtusercode" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Password</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Password" [(ngModel)]="txtpassword" name="txtpassword" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">FirstName</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="FirstName" [(ngModel)]="txtfirstname" name="txtfirstname" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">LastName</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="LastName" [(ngModel)]="txtlastname" name="txtlastname" class="clr-input" />
          </div>
        </div>
      </div>


      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">HospCode</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="HospCode" [(ngModel)]="txthospcode" name="txthospcode" class="clr-input" />
          </div>
        </div>
      </div>


      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">ID CARD</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" placeholder="Cid" [(ngModel)]="txtcid" name="txtcid" class="clr-input" />
          </div>
        </div>
      </div>

     
        <!-- <br>

        <div class="clr-row">
          <div class="clr-col-sm-12 clr-col-md-4">
            
          </div>
          <div class="clr-col-sm-12 clr-col-md-8">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="txtEnabled" required value="YES" [(ngModel)]="txtEnabled" />
              <label>Enabled</label>
            </clr-checkbox-wrapper>
          </div>
        </div> -->

      

      

    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="updateuseraccount()">Ok</button>
  </div>
</clr-modal>

