<div class="main-container">
    <header class="header-6">
        <div class="branding">
          <a href="javascript://" class="nav-link">
            <i class="fa fa-flask" aria-hidden="true" style="font-size: large;color:#fff;"></i> &nbsp;
            <span class="title">JaynLab</span>
          </a>
        </div>
        <!-- <div class="header-nav">
          <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
          <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
        </div> -->
        <div class="header-actions">
            <a href="#" class="nav-link nav-icon-text" (click)="logout()">
              <clr-icon shape="user"></clr-icon>
              <span class="nav-text">{{Fullname}}</span>
            </a>
          </div>
      </header>
    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="true">
            <section class="sec1">
                <a clrVerticalNavLink class="active"> MAIN NAVIGATION</a>
                <a clrVerticalNavLink  routerLink="/home/checkresult"><i class="fa fa-pie-chart" clrVerticalNavIcon></i> dashboard</a>
                <a clrVerticalNavLink  routerLink="/home/orderentry"><clr-icon shape="check" clrVerticalNavIcon></clr-icon> order entry</a>
                <a clrVerticalNavLink  routerLink="/home/checkresult"><clr-icon shape="flask" clrVerticalNavIcon></clr-icon> check result</a>
                <a clrVerticalNavLink  routerLink="/home/resultmanual"><clr-icon shape="tasks" clrVerticalNavIcon></clr-icon> result manual</a>
                <a clrVerticalNavLink  routerLink="/home/importordercovid19"><clr-icon shape="dna" clrVerticalNavIcon></clr-icon> import order covid-19</a>
            </section>
            <section class="nav-group">
                <clr-vertical-nav-group>
                    <i class="fa fa-file-text-o" clrVerticalNavIcon></i> Report
                    <clr-vertical-nav-group-children>
                <a clrVerticalNavLink  routerLink="/home/exportorder"><i class="fa fa-file-excel-o" clrVerticalNavIcon></i> Export Orders</a>
                <a clrVerticalNavLink  routerLink="/home/printsummaryorder"><i class="fa fa-print" clrVerticalNavIcon></i> Print Summary Orders</a>
                <a clrVerticalNavLink  routerLink="/home/summaryallhospital"><i class="fa fa-file-excel-o" clrVerticalNavIcon></i> สรุปการตรวจทุก รพ.</a>
                <a clrVerticalNavLink  routerLink="/home/summarybyhospital"><i class="fa fa-file-excel-o" clrVerticalNavIcon></i> สรุปการตรวจแยกตาม รพ.</a>
                <a clrVerticalNavLink  routerLink="/home/summaryalltest"><i class="fa fa-file-excel-o" clrVerticalNavIcon></i> สรุปจำนวนการส่งตรวจวิเคราะห์</a>
                <a clrVerticalNavLink  routerLink="/home/summarybytest"><i class="fa fa-file-excel-o" clrVerticalNavIcon></i> สรุปจำนวนการส่งราย Test</a>
                  </clr-vertical-nav-group-children>
                  </clr-vertical-nav-group>
            </section>
            <section class="nav-group">
                <a clrVerticalNavLink class="active"> SETTING</a>

                <clr-vertical-nav-group>
                    <i class="fa fa-cogs" clrVerticalNavIcon></i> Master Data
                    <clr-vertical-nav-group-children>
                        <a clrVerticalNavLink  routerLink="/home/patient"><clr-icon shape="users" clrVerticalNavIcon></clr-icon> patient</a>
                        <a clrVerticalNavLink  routerLink="/home/hospital"><i class="fa fa-h-square" clrVerticalNavIcon></i> hospital</a>
                        <a clrVerticalNavLink  routerLink="/home/comment"><i class="fa fa-comment-o" clrVerticalNavIcon></i> comment</a>
                    </clr-vertical-nav-group-children>
                  </clr-vertical-nav-group>
                  <clr-vertical-nav-group>
                    <i class="fa fa-flask" clrVerticalNavIcon></i> Laboratory
                    <clr-vertical-nav-group-children>
                        <a clrVerticalNavLink  routerLink="/home/groups"><i class="fa fa-sitemap" clrVerticalNavIcon></i> Groups</a>
                        <a clrVerticalNavLink  routerLink="/home/specimens"><i class="fa fa-eyedropper" clrVerticalNavIcon></i> Specimens</a>
                        <a clrVerticalNavLink  routerLink="/home/labs"><i class="fa fa-file-text-o" clrVerticalNavIcon></i> Labs</a>
                        <a clrVerticalNavLink  routerLink="/home/profiles"><i class="fa fa-file-text-o" clrVerticalNavIcon></i> Profiles</a>
                    </clr-vertical-nav-group-children>
                  </clr-vertical-nav-group>
                  <clr-vertical-nav-group>
                    <i class="fa fa-user-circle-o" clrVerticalNavIcon></i> Security User
                    <clr-vertical-nav-group-children>
                        <a clrVerticalNavLink  routerLink="/home/useraccount"><i class="fa fa-user" clrVerticalNavIcon></i> User Account</a>
                    </clr-vertical-nav-group-children>
                  </clr-vertical-nav-group>
                  <clr-vertical-nav-group>
                    <i class="fa fa-calendar" clrVerticalNavIcon></i> นัดเจาะเลือดล่วงหน้า
                    <clr-vertical-nav-group-children>
                        <a clrVerticalNavLink  routerLink="/home/appoint"><i class="fa fa-calendar-plus-o" clrVerticalNavIcon></i> นัดเจาะเลือดล่วงหน้า</a>
                        <a clrVerticalNavLink  routerLink="/home/holidays"><i class="fa fa-calendar-times-o" clrVerticalNavIcon></i> ตั้งค่าวันหยุด</a>
                        <a clrVerticalNavLink  routerLink="/home/patient"><i class="fa fa-plus-square-o" clrVerticalNavIcon></i> สร้างใหม่</a>
                        



                    </clr-vertical-nav-group-children>
                  </clr-vertical-nav-group>

                  




                

                

                


            </section>
      </clr-vertical-nav>
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>






