/* You can add global styles to this file, and also import other style files */
// $fa-font-path: "node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
/* Importing Bootstrap SCSS file. */
 //@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
 //@import '~bootstrap/scss/bootstrap';



.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-size: 12px;
}

input, button, select, textarea {
    border-radius: 0;
    font-size: 12px;
}


.clr-control-label {
    display: block;
    color: #454545;
    color: var(--clr-forms-label-color, #454545);
    font-size: 12px;
    font-weight: 600;
    font-weight: var(--clr-forms-label-font-weight, 600);
    line-height: .9rem;
}