

<div class="clr-row">
  <div class="clr-col-12">
    <div class="card">
      <div class="card-header">



        <div class="clr-row">
          <div class="clr-col-sm-12 clr-col-md-6">
            <span>Patients</span>
          </div>
          <div class="clr-col-sm-12 clr-col-md-6" style="text-align:right">
            <span><button class="btn btn-success" (click)="frmPatient()"><i class="fa fa-plus" aria-hidden="true"></i>
                NEW</button></span>
          </div>
        </div>



      </div>
      <div class="card-block">
        <div class="card-text">





          <div class="clr-row">


            <div class="clr-col">
              <div class="clr-form-control">
                <label for="example5" class="form-label">Hospital</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example5" [(ngModel)]="hospital" placeholder="Hospital"
                      class="form-control form-control-sm" />
                  </div>
                </div>
              </div>
            </div>
            <div class="clr-col">
              <div class="clr-form-control">
                <label for="example5" class="form-label">HN/Patient Name</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input type="text" id="example5" [(ngModel)]="search_text" placeholder="HN/Patient Name"
                      class="form-control form-control-sm" />
                  </div>
                </div>
              </div>
            </div>

            <div class="clr-col clr-align-self-end">
              <button class="btn btn-primary" (click)="Search()">Search</button>
            </div>
          </div>

          <br>



        </div>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-block">







    <clr-datagrid>
      <clr-dg-column [clrDgField]="'HIS_HN'">HN</clr-dg-column>
      <clr-dg-column [clrDgField]="'sex'">Sex</clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Patient</clr-dg-column>
      <clr-dg-column [clrDgField]="'birth'">Birth</clr-dg-column>
      <clr-dg-column>MENU</clr-dg-column>

      <clr-dg-row *clrDgItems="let patient of itemPatient">
        <clr-dg-cell>{{patient.HIS_HN}}</clr-dg-cell>
        <clr-dg-cell>{{patient.sex}}</clr-dg-cell>
        <clr-dg-cell>{{patient.name}} {{patient.lname}}</clr-dg-cell>
        <clr-dg-cell>{{patient.birth | date:"YYYY-MM-dd"}}</clr-dg-cell>
        <clr-dg-cell>
           <button type="button" class="btn btn-icon btn-success" aria-label="done" (click)="formUpdate(patient)">
          <clr-icon shape="pencil"></clr-icon> EDIT
        </button>
      </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Patients per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Rows
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>






  </div>

  


  
</div>






<clr-modal [(clrModalOpen)]="openModal">
  <h3 class="modal-title">Patient</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-horizontal">

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">HN</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" id="example8" placeholder="HN" [(ngModel)]="txthn" name="txthn" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Patient Name</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" id="txtprename" placeholder="Patient Name" [(ngModel)]="txtprename" name="txtprename" class="clr-input" />
            <input type="text" id="txtname" placeholder="Patient Name" [(ngModel)]="txtname" name="txtname" class="clr-input" />
            <input type="text" id="txtlname" placeholder="Patient Name" [(ngModel)]="txtlname" name="txtlname" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Hospital</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" id="txthospcode" placeholder="hospcode" [(ngModel)]="txthospcode" name="txthospcode" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">IDCard</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" id="txtcid" placeholder="IDCard" [(ngModel)]="txtcid" name="txtcid" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Sex</label>
        <div class="clr-control-container">
          <clr-radio-container clrInline>
          <clr-radio-wrapper>
            <input type="radio" clrRadio name="txtsex" required value="M" [(ngModel)]="txtsex" name="txtsex" />
            <label>male</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
            <input type="radio" clrRadio name="txtsex" required value="F" [(ngModel)]="txtsex" name="txtsex" />
            <label>female</label>
          </clr-radio-wrapper>
        </clr-radio-container>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Tel</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" id="txttel" placeholder="Tel" [(ngModel)]="txttel" name="txttel" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Birthday</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="date" id="txtbirthday" placeholder="Birthday" [(ngModel)]="txtbirthday" name="txtbirthday" class="clr-input" />
          </div>
        </div>
      </div>

      <div class="clr-form-control">
        <label for="example7" class="clr-control-label">Age</label>
        <div class="clr-control-container">
          <div class="clr-textarea-wrapper">
            <input type="text" id="txtage" placeholder="Age" [(ngModel)]="txtage" name="txtage" class="clr-input" />
          </div>
        </div>
      </div>

    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="savepatient()" *ngIf="!patient_id">Ok</button>
    <button type="button" class="btn btn-primary" (click)="updatepatient()"*ngIf="patient_id">Edit</button>
  </div>
</clr-modal>



